@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,400italic,700italic);

body {
  background-color: #E2D7BF;
  color: #333;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 50px;
  font-family: Ubuntu Mono, Monaco, Menlo, monospace;
  font-size: 14pt;
}

img[alt="logo"] {
  width: 285px;
  vertical-align: middle;
}

p {
  max-width: 580px;
}

hr {
  border: 0;
  height: 0;
  border-top: 2px solid #EBE1CE;
}

::selection {
  background-color: #C0D698;
}

#nav li{
  list-style-type: none;
  display: inline;
  margin-right: 15px;
}
#nav a {
  color: #CC6650;
  border-bottom: 2px solid #CC6650;
  text-decoration: none;
} #nav a:hover {
  color: #8BB246;
  border-bottom: 2px solid #8BB246;
}

#main-header {
  vertical-align: middle;
  display: inline;
  font-size: 100px;
  margin-left: 25px;
}
